<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <appSettings>
        <!--Computer User Name-->
        <add key="User" value=""/>

        <!--Computer Password-->
        <add key="Password" value=""/>

        <!--Computer Name or Ip Address Or Local Connetection "."-->
        <add key="Computer" value=""/>

        <!--Active Directory Domain Name or Workgorup Name-->
        <add key="Domain" value=""/>
    </appSettings>
</configuration>
